@import "abstracts/vars";
@import "components/containers";

.review {
  @extend .flex--column;
  padding: 2rem;
  gap: 1rem;

  background: $white;
  box-shadow: 0px 2px 15px rgba(0, 51, 102, 0.21);
  border-radius: 8px;
  
  &__info {
    @extend .flex--column;
    gap: 1rem;
  }

  &__info-row-1 {
    @extend .flex--row;
    gap: 2rem;
  }
  
  &__name-and-rating {
    @extend .flex--column;
    gap: 1rem;
  }

  &__stars-container {
    @extend .flex--row;
    gap: .5rem;
  }

  &__rating-container {
    @extend .flex--row;
    gap: 1rem;
    align-items: center;
  }

  &__name {
    font-weight: 600;
  }

  &__rating {
    font-size: 11px;
    font-weight: 600;
    color: $txt-light-grey;
  }

  &__info-row-2 {
    @extend .flex--row;
  }

  &__date, &__location {
    color: $txt-light-grey;
    font-size: 1.4rem;
  }

  &__date {
    border-right: 1px solid #E0E9F2;
    padding-right: 1rem;
  }

  &__location {
    padding-left: 1rem;
  }

  &__content {
    line-height: 150%;
  }
}

.star {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.filled-star {
  @extend .star;

  background-image: url("../../assets/images/filled-star.svg");
}

.empty-star {
  @extend .star;

  background-image: url("../../assets/images/empty-star.svg");
}
