// # Colors
$white: #FFFFFF;
$black: #000000;

// ## For text
$txt-dark-blue: #003366;
$txt-grey-blue: #7B9AB8;
$txt-light-grey: #819EBB;
$txt-blue: #007efd;
$txt-grey: #CCD5DF;

// ## For buttons
$btn-orange: #FF8900;
$btn-blue: #346DA6;

// ## For backgrounds
$bg-grey: #E6EDF5;

// ## For notifications
$ntf-red: #FF3306;
$ntf-green: #19C788;
$ntf-yellow: #FFBC00;