.btn {
  border-radius: 4px;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.btn--orange {
  @extend .btn;
  background-color: $btn-orange;
  color: $white;
  border: 1px solid transparent;
  transition: box-shadow .3s ease-out;

  &:hover {
    box-shadow: 0px 0px 15px $btn-orange;
  }
}

.btn--transparent {
  @extend .btn;
  background-color: transparent;
  color: $btn-orange;
  border: 1px solid $btn-orange;
}