@import "abstracts/vars";
@import "components/containers";
@import "components/headings";

.benefits {
  @extend .section-container;

  &__header {
    @extend .heading--2;
    margin-bottom: 6rem;

    text-align: center;
  }

  & .tabBox__content {
    @extend .flex--row;
    flex-wrap: wrap;
    gap: 4rem;

    @media (max-width: 1000px) {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__contentGroup {
    @extend .flex--row;
    gap: 2rem;
    align-items: center;
    flex: 1 40%;

    font-size: 14px;
    line-height: 150%;
  }
}