@import "abstracts/vars";
@import "components/containers";
@import "components/buttons";

.navbar {
  @extend .flex--row;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;

  background-color: $white;
  font-size: 14px;
  box-shadow: 0px 2px 15px rgba(0, 51, 102, 0.21);

  &__logo {
    cursor: pointer;
    width: 12.4rem;
    height: 5.4rem;
  }

  &__link {
    padding: 10px;

    &:hover {
      color: $txt-blue;
      transition: color .3s ease-out;
    }
  }

  &__phone-info {
    @extend .flex--column;
    gap: 5px;
  }

  &__phone {
    text-decoration: underline;
  }

  &__language {
    @extend .flex--column;

    & > * {
      padding: 5px;

      cursor: pointer;
    }

    &--ua {
      border-bottom: 1px solid $txt-grey;
    }

    &--selected {
      color: $txt-dark-blue;
      font-weight: 600;
    }
  }

  &__enter-btn {
    @extend .btn--orange;
    @extend .flex--row;
    align-items: center;
    gap: 8px;
  }

  &__burger-menu-toggler {
    min-width: 2.5rem;
    min-height: 1.6rem;

    cursor: pointer;
  }

  &__button-and-toggler-container {
    @extend .flex--row;
    gap: 2rem;
    align-items: center;
  }

  &__responsive-btn-container {
    @extend .flex--row;
    gap: 1rem;
    align-items: center;
  }

  &__enter {
    color: $btn-orange;
    font-size: 1.8rem;
    font-weight: 500;
    border-bottom: 1px solid $btn-orange;
  }
}