@import "abstracts/vars";
@import "components/containers";

.burger-menu {
  @extend .flex--column;
  gap: 1rem;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  margin-right: -270px;
  height: 100vh;
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  z-index: 200;
  transition: margin-right .3s ease-out;

  background-color: $white;

  &__overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;

    background-color: rgba(black, .4);
  }

  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__heading {
    padding-bottom: 1rem;
    padding-top: 1rem;

    font-weight: 600;
    background-color: #F3F9FF;
  }

  &__heading:first-child {
    @extend .flex--row;
    justify-content: space-between;
  }

  &__close-icon {
    cursor: pointer;
  }

  &__nav {
    @extend .flex--column;
    align-items: flex-start;
  }

  &__link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__contacts {
    @extend .flex--column;
    gap: 2rem;
  }

  &__contact {
    @extend .flex--row;
    gap: 2rem;
  }

  &__recall-me {
    align-self: center;
    color: $btn-blue;
    font-weight: 600;
    border-bottom: 1px solid $btn-blue;
    cursor: pointer;
  }

  &__working-hours {
    @extend .flex--column;
    gap: .5rem;
  }

  &__languages {
    @extend .flex--row;
    gap: 1rem;
  }

  &__lang, &__language--active {
    font-weight: 600;
  }

  &__language {
    cursor: pointer;
  }
}