@import "abstracts/vars";
@import "components/containers";
@import "components/headings";

.partners {
  @extend .section-container;

  background-color: rgba($bg-grey, .5);

  &__heading {
    @extend .heading--2;
    margin-bottom: 5rem;

    text-align: center;
  }

  &__container {
    @extend .flex--row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &__partner-logo-container {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(103, 87, 156, 0.25);
    background-color: $white;
  }
}