@import "abstracts/vars";
@import "components/containers";
@import "components/headings";

.credit-conditions {
  @extend .section-container;

  &__heading {
    @extend .heading--2;
    margin-bottom: 5rem;

    text-align: center;
  }

  &__table-container {
    overflow-x: auto;
  }

  & .conditions-table {
    table-layout: fixed;
    overflow: hidden;
    margin: 10px;

    border-collapse: collapse;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(103, 87, 156, 0.25);

    @media (max-width: 450px) {
      box-sizing: border-box;
    }

    & th {
      font-weight: 600;
    }

    & th, td {
      border: 1px solid $bg-grey;
      padding: 2rem;
      line-height: 150%;
    }

    & td[colspan="2"] {
      text-align: center;
    }
  }
}