@import "abstracts/vars";
@import "components/containers";
@import "components/headings";

.markdown {
  @extend .flex--column;

  &__link {
    cursor: pointer;
    text-decoration: underline;
  }

  &__bold {
    font-weight: 600;
  }

  & *:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  & * {
    line-height: 150%;
  }

  & h4 {
    @extend .heading--4;
  }

  & ul {
    list-style: disc;

    & li::marker {
      color: $btn-orange;
      font-size: 2rem;
    }
  }

  & ol {
    list-style: decimal;

    & li::marker {
      color: $btn-blue;
      font-weight: 600;
      font-size: 2rem;
    }
  }

  & li {
    margin-left: 20px;
  }
}
