@import "abstracts/vars";
@import "components/containers";
@import "components/buttons";
@import "components/headings";

.internalError {
  @extend .flex--column;
  gap: 6rem;
  align-items: center;
  margin-bottom: 20vh;

  &__heading {
    @extend .heading--2;
    margin-top: 20vh;

    text-align: center;
  }

  &__btn {
    @extend .btn--orange;
  }
}